.jumbotron {
    background-image: url("https://static.lenovo.com/na/homepage/heros/main-banner/lenovo-ideapad-720s-banner.jpg");
    height: 480px;
    padding-left: 100px !important;

}


.url {
    width: 560px !important;
}

.select-wrapper input.select-dropdown {

    padding: 10px !important;

}